* {
    background: black;
    color: lime;
}

.align-center {
    text-align: center;
}

.larger {
    font-size: 25px;
    font-family: fantasy;
}


.subsection {
    color: purple;
    font-size: 30px;
}

.tooLarge {
    height: auto;
    width: 500px;
}