* {
    background: black;
    color: lime;
}

.align-center {
    text-align: center;
}

.larger {
    font-size: 25px;
    font-family: fantasy, cursive, 'Times New Roman', Times, serif;
}


.subsection {
    color: purple;
    font-size: 30px;
}

.tooLarge {
    height: auto;
    width: 500px;
}

.align-center.larger.recipe-title {
    color:cadetblue;
    font-size: 40px;
}