.link {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(7, 215, 7);
    color: black;
    font-weight:700;
    font-family: fantasy, cursive, sans-serif;
    text-decoration: none;
    cursor: pointer;

}
.header {
    color: rgb(10, 164, 10);
    font-size: 50px;
    font-family: cursive, fantasy;
}

.Chef-Pepe {
    height: auto;
    width: 400px;
    padding: 10px;
}

* {
    text-align: center;
    background-color: black;
}
